@{
    ViewData["Title"] = "Welcome";
}


<div class="row">
    <div class="col-sm-12 mb-5">
        <img class="mx-auto d-block" src="~/images/pets-banner.jpg" />
    </div>
</div>

<div class="container mt-2">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <div class="d-flex align-items-center">
                        <span class="mx-auto w-100 display-1"><i class="fas fa-user ml-auto"></i></span>

                    </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-warning btn-lg btn-block" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <div class="d-flex align-items-center">
                        <span class="mx-auto w-100 display-1"><i class="fas fa-dog ml-auto"></i></span>

                    </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-warning btn-lg btn-block" asp-area="" asp-controller="Animals" asp-action="Index">Pets</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <div class="d-flex align-items-center">
                        <span class="mx-auto w-100 display-1"><i class="far fa-calendar-alt ml-auto"></i></span>

                    </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-warning btn-lg btn-block" asp-area="" asp-controller="Appointments" asp-action="Index">Appointments</a>
                </div>
            </div>
        </div>
    </div>
</div>

